<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Findings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!--AOS CSS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <img src="{{url_for('static', filename='logo.png')}}" width="30" height="30" alt=""/>
              TEAM ELECTRIC
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/"> Summary Findings </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/viz">Visualization Map<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    <div class="slide" data-aos="fade">
        <img src="{{url_for('static', filename='leaf.png')}}" width="90%" height="90%">
    </div>
    <div class="slide" data-aos="flip-up">
        <img src="{{url_for('static', filename='stickwoman.png')}}" width="90%" height="90%">
    </div>
    <div class="slide" data-aos="slide-up">
        <img src="{{url_for('static', filename='leaf.png')}}" width="90%" height="90%">
    </div>

    <!-- plot something using this id tag -->
    <!-- <div id="map"></div> -->


    <!-- Leaflet JS -->
    <!-- <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script> -->
    <!-- Leaflet heatmap plugin-->
    <!-- <script type="text/javascript" src="static/leaflet-heat.js"></script> -->
    <!-- API key -->
    <!-- <script type="text/javascript" src="static/config.js"></script> -->
    <!--map construction-->
    <!-- <script type="text/javascript" src="static/app.js"></script> -->

    <!--Animate on scroll-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          delay: 500, 
          duration:3000,
          anchorPlacement:"top-center"
        });
    </script>
</body>
</html>