<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Findings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>We need to viz something just to test if it works</h1>
    <!-- plot something using this id tag -->
    <div id="bar-plot"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>